<% provide(:title, 'Home') %>
<div class="span3">
  <ul class="nav nav-list post-list">
    <% @posts.each_with_index do |post, index| %>
    <li class="<%= index/5 %>"><a href="" class="post-title" id="<%= post.id %>" onClick="return false;"><%= post.title %></a></li>
    <% end %>
    <li class="page-button"><a href="" class="prev" onClick="return false;">Prev</a></li>
    <li class="page-button"><a href="" class="next" onClick="return false;">Next</a></li>
  </ul>
</div>

<div class="span9 post-content">
  <div class="page-header">
    <a href="<%= @post.url %>" title="查看原文" target="_blank"><%= @post.title %><span><i class="icon-heart"></i><%= @post.points %></span></a>
  </div>
  <div class="page-inner">
    <%= @post.content.html_safe %>
  </div>
</div>