<div class="page-header">
  <a href="<%= @post.url %>" title="查看原文" target="_blank"><%= @post.title %>
    <span><i class="icon-heart"></i><%= @post.points %></span>
  </a>
</div>
<ul class="toolbar inline text-right">
  <li class="evernote"><a href="<%= @post.comments %>" title="查看原文" target="_blank">评论</a></li>
  <li class="muted">·</li>
  <li class="evernote">收藏到 <a href="javascript:void(0);" onClick="Evernote.doClip({contentId:'article-content',providerName:'Starup News',title:'<%= @post.title %>',url:'<%= @post.url %>'}); return false;">Evernote</a></li>
</ul>
<div class="page-inner" id="article-content">
  <%= @post.content.html_safe %>
</div>